<h2>Select a Map Area</h2>
<p class="information">Click/drag the map to navigate. <strong>Shift+click/drag the map</strong> to select an area in which to display footprints. You can always update your selected area.</p>
<div class="extent" style="display:none">
	<ul>
        <li><span class='l'>Longitude</span><span class="lonmin"></span><span class="lonmax"></span></li>
        <li><span class='l'>Latitude</span><span class="latmin"></span><span class="latmax"></span></li>
    </ul>
</div>
<p style="display:none" class="info2"><strong>Shift+click/drag the map</strong> to modify the bounding box.</p>
