body {
  margin: 0;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.datasets {
  li { margin-bottom: 1em;}
}

svg {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.footprints path {
  stroke-width: 2px;
  stroke: rgba(191,41,66,.3);
  fill: none;
  &.hovered{
      stroke-width: 5px;
      stroke: rgba(191,41,66,.7);
      fill: rgba(191,41,66,.7);  }
  &.selected {
    stroke: darken(rgba(191,41,66,.7), 20%);
    fill: rgba(191,41,66,.7);
  }
}

.attribution {
    font-size: .9em;
    position: absolute;
    z-index: 500;
    bottom:  0;
    right: 0px;
    padding: 0 5px;
    background: rgba(255,255,255,.5);
}

g.brush {
    rect.extent {
      stroke-width: 2px;
      stroke: white;
      fill: none;
    }
    &.disabled {
      rect.extent {
        stroke: transparentize(white, 0.5);
      }
    }
}
